// Fonts
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600&display=swap");

// Custom Bootstrap Variables

$primary: #f85a47;
$secondary: #55585b;
$text-primary: #000000;
$text-secondary: #31353b;
$brand-logo: #718087;

$font-family-sans-serif: "Radio Canada", sans-serif;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Vertical & Horizontial Alignment
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.active {
  border-bottom: 2px solid $text-secondary;
}
.site-nav {
  position: fixed;
  top: 0;
  z-index: 2000;
  // background-color: #ffffffee;
  // backdrop-filter: blur(3px);
  // box-shadow: 0 0 5px #00000020;
}

#header-section {
  background-image: url("./../image/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  height: 100%;
  @include flexCenter(column);
}

.header-img {
  @include flexCenter(column);
  height: 100%;

  img {
    width: 500px;
  }
}

.header__brands {
  position: absolute;
  bottom: 2rem;
  width: max-content;
  img {
    padding-right: 3rem;
  }
}

.social-v {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  align-items: center;
  justify-content: center;

  a {
    color: $text-primary !important;
    margin-bottom: 10px;
  }
}
