// Fonts
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600&display=swap");

// Custom Bootstrap Variables

$primary: #f85a47;
$secondary: #55585b;
$text-primary: #000000;
$text-secondary: #31353b;
$brand-logo: #718087;
$soft-bg: #f1ffff;

$font-family-sans-serif: "Radio Canada", sans-serif;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Vertical & Horizontial Alignment
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.active-nav {
  border-bottom: 3px solid $primary;

  a {
    color: $primary !important;
  }
}

.site-nav {
  position: absolute;
  top: 0;
  z-index: 2000;
}

.site-nav-scroll {
  position: fixed;
  background-color: #ffffffee;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px #00000020;
  color: #fff !important;
  animation: toScroll 0.5s ease-in;
}

@keyframes toScroll {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

#home-section {
  background-image: url("./../image/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-text {
  height: 100%;
  @include flexCenter(column);
}

.header-img {
  @include flexCenter(column);
  height: 100%;

  img {
    width: 80%;
  }
}

.header__brands {
  position: absolute;
  bottom: 2rem;
  width: max-content;
  img {
    padding-right: 3rem;
  }
}

.social-v {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  align-items: center;
  justify-content: center;

  a {
    color: $text-primary !important;
    margin-bottom: 10px;
  }
}

// service
.bs-tab-link {
  font-weight: 500 !important;

  &:hover {
    color: $primary - 50% !important;
  }
}

.bs-tab {
  .bs-tab-link.active {
    color: $primary;
    border-bottom: 2px solid $primary !important;
    font-weight: 600;
  }

  .bs-tab-link {
    cursor: pointer;
  }
}

.service__small-span {
  position: absolute;
  z-index: 50;
  top: 10px;
  left: 10px;

  span {
    color: #fff;
    border: 1px solid #fff;
    padding: 3px 6px;
    background-color: gray;
    cursor: pointer;
  }
}

.portfoli-table {
  table-layout: fixed;
}

#portfoli-section {
  .container {
    background-color: $soft-bg;
  }
}

.card {
  border-radius: 0.5rem !important;

  .card-text {
    min-height: 100px !important;
  }
}

#contact-section {
  position: relative;
  margin-top: 5rem;
  padding: 0 !important;
}

.contact-banner-img {
  height: 100vh;
  background-image: url("./../image/city-building-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(5px);
}

.contact-section__container {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.mobile-menu-btn {
  &:focus-visible {
    outline: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// ipad pro
@media screen and (max-width: 1024px) {
  .active-nav {
    border: none;
    border-left: 5px solid $primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    a {
      color: $primary !important;
    }
  }
  #home-section {
    .min-vh-100 {
      min-height: 50vh !important;
    }
    background-position: right;
    background-size: cover;
  }
  .contact-section__container {
    width: 80% !important;
  }
}

// Tablet
@media screen and (max-width: 790px) {
  .bio-section__header {
    width: 80% !important;
  }
  .bio-brands {
    flex-wrap: wrap !important;
    img {
      width: 25% !important;
      padding: 2rem !important;
    }

    div {
      width: 100% !important;
    }
  }

  .social-v {
    right: 5%;
  }

  .site-nav {
    ul {
      background-color: #fff;
    }
    li {
      text-align: center !important;
      padding: 0 !important;
      margin: 0.5rem;
    }
  }

  .contact-section__container {
    width: 80% !important;
  }
  #home-section {
    background: unset;
  }
}

// phone
@media screen and (max-width: 480px) {
  .bio-section__header {
    width: 100% !important;
  }
  .bio-brands {
    img {
      width: 50% !important;
    }
  }
  .service-section__para {
    width: 100% !important;
  }

  .contact-section__container {
    width: 100% !important ;
    padding: 0 1rem;
  }

  .header-img {
    img {
      width: 100%;
    }
  }

  .header-text {
    p {
      width: 100% !important;
    }
  }
}
